 h3{
        background: #F5F5F5;
        border-radius: 7px;
        padding: 10px 20px;
        font-size: 17px !important;
        text-transform: uppercase;
        border: 1px solid rgba(221, 221, 221, 0.86);
        margin-top: 35px !important;
    }
    .dddd {
        background: red;
    }
    .rows .row {
        margin-bottom: 20px;
    }
    .hidden{
        display: none;
    }
    p{
        padding:6px 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background: #f5f5f5;
    }
    .btn-info.add-option {
        margin-top: 25px;
    }
    
 .btn.btn-info.option_nouvelle {
    visibility:hidden;
}
.form-options:hover .option_nouvelle.btn.btn-info{
    visibility:visible;
}
.contenu
{
    background: rgba(255, 255, 255, 0.29);
    height: 500px;
    width: 800px;
    max-width: 95%;
}
.btn.btn-success.pull-right
{
    visibility:hidden;
}

.fa.fa-times-circle 
{
    visibility:hidden;
}
.form-delete:hover .fa.fa-times-circle
{
    visibility:visible;
}
.suppCat{
    background: #F5F5F5;
    border: 0;
}
.suppOp{
    border: 0;
    background: #FFFFFF;
}
.fa-times-circle{
    color:#FF0000;
}
.droite
{
    float:right;
    margin-bottom: 10px;
}
.supp
{
    background: #DF0101;
    border: 0;
}
.haut{
    margin: 10px;
}
.picker-switch.accordion-toggle{
    display: none;
}
.cal{
    margin-top: 100px;
}
#datetimepicker12 td.clicked{
    background: #5CB85C;
}
.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 30px;
    background: rgba(19, 19, 19, 0.34);
    padding: 20px 14px 15px 20px;
    line-height: 9px;
    color: #FFFFFF;
}
.owl-next {
        position: absolute;
    right: 0;
    top: 50%;
    font-size: 30px;
    background: rgba(19, 19, 19, 0.34);
    padding: 20px 14px 15px 20px;
    line-height: 9px;
    color: #FFFFFF;
}
.owl-carousel img {
    width: 100%;
}